[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
